
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier New", Courier, monospace;
  background: rgb(227,236,255);
  background: linear-gradient(176deg, rgba(227,236,255,0.0984768907563025) 0%, rgba(30,20,221,0.05085784313725494) 60%);
  /*add an interesting, and professional background */
  /*background: linear-gradient(89deg, #04C8DE 10%, #c3d4d6  20%); /* w3c */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}
