.navigation{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 320px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    /* overflow-x: hidden;  Disable horizontal scroll */
    padding-top: 20px;

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
} 

.nav-link{
    color: aliceblue;
}

.nav-main{
    list-style: none;
    background: rgb(14,78,215);
    background: linear-gradient(176deg, rgba(14,78,215,0.8995973389355743) 0%, rgba(30,20,221,0.5382528011204482) 60%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-item{
    display: inline-block;
    padding: 1em;
}