.vehicleList{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
     /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 360px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    position: fixed;

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
} 

/* this shows up strangely because of driver card above it */
.vehicleCard{
    padding: 10px 10px;
    margin-top: 10px;
    max-width: 18rem;
} 