.vehicle-card-container {
    background: rgb(227,236,255);
    background: linear-gradient(176deg, rgba(227,236,255,0.0984768907563025) 0%, rgba(30,20,221,0.05085784313725494) 60%);
    margin-top: 2.1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}

.vehicle-card-detail-header{
    margin-left: 3em;
    padding: 2em;
    font-weight: bold;
}

.vehicle-card-info-section, .vehicle-card-driver-section, .vehicle-card-hardware-section{
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vehicle-card-info-section {
    margin-top: 3em;
}

.vehicle-card-label, .vehicle-card-item{
    padding: 1em;
    flex: 1;
    min-width: 5em;
}

.vehicle-card-item{
    padding: 1em;
}

.content-list-container {
    display: flex;
    margin: 2em;
    background: rgb(227,236,255);
    background: linear-gradient(176deg, rgba(227,236,255,0.0984768907563025) 0%, rgba(30,20,221,0.05085784313725494) 60%);
    border-radius: 10px;
    width: 17vw;
    height: 80vh;
    align-items: top;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content-list-table {
    margin-top: 1em;
}

.content-list-table-head-item{
    padding: 1.5em;
}

.content-list-table-row-item{
    padding: 1.5em;
}
